Flask
Flask-Cors
Flask-SQLAlchemy
python-dotenv
app
app.extensions
datetime
marshmallow
sqlalchemy.exc

pymysql

pandas
librosa
scikit-learn

app.api.deps
app.models.history
app.schemas.history_schema
app.models.songs

app.schemas.song_schema 
sqlalchemy 
 
app.models.uploaded_by 
app.schemas.song_list_schema 
app.services.history_service 
app.services.search_service 

app.schemas.uploaded_by_schema 
app.services.song_service
app.model.user
app.schemas.user_schema
sqlalchemy.orm
os
pathlib
flask_sqlalchemy
flask_marshmallow

__future__
werkzeug.security
.user_schema
.analyze_schema 
re
app.core.config
app.models.analyze
.
csv
mysql.connector