Flask
Flask-Cors
Flask-SQLAlchemy
python-dotenv

datetime
marshmallow

pymysql

pandas
librosa
scikit-learn


sqlalchemy




sqlalchemy.orm
pathlib
flask_sqlalchemy
flask_marshmallow
cryptography

werkzeug

pymysql

mysql.connector
PyJWT